.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  .backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  .modal {
    width: 45rem;
    position: absolute;
    max-height: 90vh;
    margin: auto;
    border-radius: 20px;
    /* background-color: #d2e7eb; */
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    z-index: 30;
    margin-top: 50px;
  }

  .detail-container {
    width: 100%;
    /* height: 30vh; */
  }

  .headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
  }

  .content {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .user-details {
    flex: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px !important;
  }
  .user-details p {
    margin-bottom: 10px;
  }
  .user-details p:last-of-type {
    margin-bottom: 0px;
  }

  .btn {
    background: #2a87a5;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-weight: bold;
  }

  .btn.close {
    background-color: transparent;
    padding: 5px 10px;
    height: auto;
  }
  
  .btn.close svg {
    color: black;
  }


  .info {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* margin-left: 0px !important; */
    width: 13vh;
    height: 4vh;
  }

  .info-close {
    flex: 8;
    display: flex;
    /* flex-direction: column;
    justify-content:center; */
    /* margin-left: 0px !important; */
    width: 4vh;
    height: 4vh;
  }

  .auth-info {
    width: 100px;
    margin: 12em  auto 26em auto;    
}

.headers-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 0px;
  border-bottom: 1px solid #ccc;
  background-color: #2a87a5;
  color: white;
  border-radius: 15px;
}

.info-user{
  flex: 8;
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* margin-left: 0px !important; */
    width: 4vh;
    height: 4vh;
}

.modal-user-details{
  background-color: #d2e7eb;
  width: 45rem;
  position: absolute;
  max-height: 90vh;
  margin: auto;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  z-index: 30;
  margin-top: 50px;
}


  