  #not-found{  
    width: auto;  
    text-align: center;  
    padding: 15px;  
    /* border: 3px solid red;   */
    } 

    #notFound{  
    max-width: 100%;  
    height: auto;  
    }


    /* div #not-found{  
        width: auto;  
        text-align: center;  
        padding: 15px;  
        border: 3px solid red;  
        } 
    
        img {  
        max-width: 100%;  
        height: auto;  
    } */